<section class="atf">
    <header>
        <app-logo [variant]="'orange'"></app-logo>
    </header>
    <div class="overview-wrapper">
        <h1 class="headline">Collect Feedback, Unlock Ideas</h1>
        <figure class="hero-img">
        </figure>
        <p class="introduction">Create and share surveys in minutes – from team events to workplace culture. Collect
            opinions, engage
            your
            audience, and turn feedback into action.</p>
        <app-primary-button>
            <a class="new-survey-btn btn btn--primary" [routerLink]="'/New-Survey'">New survey
                <figure class="add">
                </figure>
            </a>
        </app-primary-button>
    </div>
</section>