@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mx;

.new-survey-wrapper {
    background-color: $white-bg;
    padding: 41px max(calc(50% - 720px), 0px);
    padding-bottom: 80px;

    @include mx.respond(md) {
        padding: 41px max(calc(50% - 720px), 86px);
        padding-bottom: 80px;
    }

    @include mx.respond(lg) {
        padding: 41px max(calc(50% - 720px), 111px);
        padding-bottom: 90px;
    }
}

.logo {
    padding-bottom: 54px;
    padding-left: 16px;

    @include mx.respond(md) {
        padding-left: 0px;
    }
}

.survey-content {
    background-color: $dark-bg;
    border-radius: 5px 100px 5px 5px;
    padding: 40px 17px;
    display: flex;
    flex-direction: column;

    @include mx.respond(lg) {
        padding: 40px 60px;
    }
}

.form-header {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
}

.form-headline {
    line-height: 42px;
    text-align: start;
    padding-top: 16px;

    @include mx.respond(md) {
        line-height: unset;
        align-items: end;
    }
}

.btn-text {
    display: none;

    @include mx.respond(md) {
        display: flex;
    }
}

.survey-form {
    background-color: #8E709929;
    border-radius: 5px 80px 5px 5px;
    margin-top: 32px;
    margin-bottom: 48px;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;



    @include mx.respond(lg) {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px 33px;
        gap: 64px;
    }
}

.fixed-input-fields {
    @include mx.respond(lg) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
    }
}

.dynamic-form-inputs {
    @include mx.respond(lg) {
        display: contents;
    }
}

.label-date {
    margin-top: 8px;
}

.error {
    color: $primary-orange;
    font-size: 14px;
    &__answer {
        height: 18px;
        margin-bottom: 8px;

        @include mx.respond(xxl) {
            padding-left: 16px;
        }
    }
}

.error-name {
    width: 180px;
}

.add-question-btn {
    width: 195px;
    align-self: center;

    @include mx.respond(lg) {
        align-self: self-start;
    }
}

.addAnswer-btn {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: 'Nokora';
    font-weight: 700;
    color: #FEFDFF;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    border-bottom: 1px solid #FEFDFF;

}

.answer-headline {
    font-family: 'Mulish';
    font-weight: 700;
    color: #FEFDFF;
    font-size: 18px;

}

.answers-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 8px;

    @include mx.respond(xl) {
        padding-right: 24px;
    }


}

.multiple-answers-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.mulitple-answers-checkbox {
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.mulitple-answers-label {
    font-size: 12px;
    font-weight: 400;
    padding: 0;
}

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mx.respond(xxl) {
        width: 480px;
    }
}

.clear-button {
    @include mx.respond(xxl) {
        order: 3;
        align-self: center;
    }

    &-description {
        align-self: unset;
    }
}

.clear-button-description {
    @include mx.respond(xxl) {
        order: 3;
        align-self: unset;
    }

}

.answer-input-wrapper {
    @include mx.respond(xxl) {
        display: flex;
        flex-wrap: nowrap;
        gap: 6px;
    }
}

.input-answers {
    margin-bottom: 0px;
}

.add-answers-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 88px;

    >p {
        color: #FFFFFF;
    }

    @include mx.respond(lg) {
        margin-bottom: 0px;
        padding-right: 24px;

    }
}

.checkbox-wrapper-46 input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1.5px solid #FFFFFF;
    transition: all 0.2s ease;
}

.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 2px;
    left: 0px;
    fill: none;
    stroke: #35273A;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
}

.checkbox-wrapper-46 .cbx:hover span:first-child {
    background-color: #FFCFA199;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child {
    background: $primary-orange;
    border-color: $primary-orange;
    animation: wave-46 0.4s ease;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}

.publish-btn {
    align-self: center;

    @include mx.respond(lg) {
        align-self: flex-end;
    }

    &:hover {
        .add {
            @include mx.respond(md) {
                background-image: url('../../../../public/assets/img/check.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 20px;
                height: 20px;
            }
        }


    }
}

.add {
    transition: all 0.25s ease;
    background-image: url('../../../../public/assets/img/check.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;

    @include mx.respond(md) {
        background-image: unset;
        width: 0px;
        height: 0px;
    }
}

.disabled {
    cursor: unset;
    color: grey;

    .add {
        width: 0px;
        height: 0px;
    }

    &:hover {
        background-color: $secondary-orange;

        @include mx.respond(md) {
            .add {
                width: 0px;
                height: 0px;
            }
        }

    }
}

.success-msg {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%) translateY(300px);
    font-family: 'Nerko One';
    font-size: 24px;
    background-color: #FEE9D4;
    color: $dark-bg;
    padding: 16px;
    border-radius: 5px 50px 5px 5px;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 0;
    width: min(90%, 330px);
}

.success-show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}