@use '../../../../../styles/mixins' as mx;

.headline-text {
    font-weight: 500;
    font-size: 1.5em;
    color: #FFFFFF;
    margin-top: 48px;
}

.surveys-section {


    @include mx.respond(md) {
        padding: 0 48px;
    }

    @include mx.respond(lg) {
        padding: 0 88px;
    }
}