@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mx;

p {
    color: $dark-bg;
    font-size: 1em;
}

.survey-detail-wrapper {
    background-color: $white-bg;
    padding: 41px max(calc(50% - 720px), 16px);
    padding-bottom: 80px;

    @include mx.respond(md) {
        padding: 41px max(calc(50% - 720px), 86px);
        padding-bottom: 80px;
    }

    @include mx.respond(lg) {
        padding: 41px max(calc(50% - 720px), 111px);
        padding-bottom: 90px;
    }
}

.header {
    display: flex;
    justify-content: space-between;

}

.detail-content {
    display: flex;
    flex-direction: column;

    @include mx.respond(lg) {
        flex-direction: row;
        gap: 42px;
    }
}

.btn-desktop {
    height: 48px;
    display: none;

    @include mx.respond(md) {
        display: inline;
    }
}

.btn-mobile {
    display: flex;
    height: 32px;
    width: 39px;
    padding: 0;

    @include mx.respond(md) {
        display: none;
    }
}

.detail {
    background-color: #8E70991A;
    border-top-right-radius: 100px;
    padding: 40px 12px;


    @include mx.respond(lg) {
        padding: 40px 40px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 13px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        color: $dark-bg;
        font-size: 0.9em;
    }

    &__headline {
        text-align: start;
    }


}


.questions {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 24px;


    &__title,
    &__counter {
        font-family: 'Mulish';
        font-weight: 700;
        font-size: 1em;
        color: $dark-bg;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__info {
        font-size: 14px;
        color: $dark-bg;
        padding-left: 18px;

        @include mx.respond(lg) {
            padding-left: 24px;
        }
    }

    &__answer-wrapper {
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.answers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding-left: 16px;

    &:hover {
        background-color: #FFCFA166;
        border-radius: 5px;
    }

    &__input {
        width: 15px;
        height: 15px;
        cursor: pointer;
        margin: 0;
    }

    &__title {
        color: $dark-bg;
        cursor: pointer;
        height: unset;
        padding: 0;
        font-weight: 400;
        display: flex;
        gap: 6px;

        &--percentage {
            font-weight: 800;
            color: #D79451;
        }
    }

    &__index {
        font-weight: 700;
        padding-right: 4px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

label {
    height: unset;
    padding-left: 0;
}

.mulitple-answers-checkbox {
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.mulitple-answers-label {
    font-size: 12px;
    font-weight: 400;
    padding: 0;
}

.checkbox-wrapper-46 input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.checkbox-wrapper-46 input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1.5px solid #35273A;
    transition: all 0.2s ease;
}

.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 2px;
    left: 0px;
    fill: none;
    stroke: #35273A;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
}

.checkbox-wrapper-46 .cbx:hover span:first-child {
    background-color: #FFCFA199;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child {
    background: $primary-orange;
    border-color: $primary-orange;
    animation: wave-46 0.4s ease;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}



@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}


.publish-btn {
    align-self: center;

    @include mx.respond(lg) {
        align-self: flex-end;


    }
}

.text {
    display: none;

    @include mx.respond(md) {
        display: inline;
    }
}

.add {
    transition: all 0.25s ease;
    background-image: url('/assets/img/check.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;

    @include mx.respond(md) {
        background-image: unset;
        width: 0px;
        height: 0px;
    }
}

.results {
    margin-top: 56px;

    &__toggle {
        display: block;
        margin-left: 10px;
        margin-bottom: 30px;

        @include mx.respond(md) {

            display: none;
        }
    }

    &__headline {
        font-family: 'Nerko One';
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 16px;

        >span {
            color: #FFB770;
        }
    }

    &__answers {
        cursor: unset;

        &:hover {
            background-color: unset;
        }
    }

    &__label {
        cursor: unset;
    }
}

progress {
    height: 14px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

progress::-webkit-progress-value {
    background-color: #FFB770;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: #EDEDED;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.disabled {
    cursor: unset;
    color: grey;

    .add {
        width: 0px;
        height: 0px;
    }

    &:hover {
        background-color: $secondary-orange;

        @include mx.respond(md) {
            .add {
                width: 0px;
                height: 0px;
            }
        }

    }
}